<!DOCTYPE html>
<html lang="fr">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- start: Meta -->
        
        <title>JobNetwork</title>
        <!-- end: Meta -->

        <!-- start: Mobile Specific -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

        <!-- end: Mobile Specific -->
        <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="M1picHNqVWt5NAEvHFJnAH1tLic6XTtfVT02MxAGOgoBOzI1LAI.Lg=="/>
<link href="css/jquery-ui.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet">
<link href="css/temp.css" rel="stylesheet">
<link href="css/bootstrap-wysihtml5.css" rel="stylesheet">
<link href="css/flatelements.css" rel="stylesheet">
<link href="css/jquery.atwho.css" rel="stylesheet">
<link href="css/mail.css" rel="stylesheet">
<link href="font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
<link href="css/styleold.css" rel="stylesheet">

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

<script type="text/javascript">var mail_loadMessageUrl = '/mail/mail/show?id=-messageId-';

var mail_viewMessageUrl = '/mail/mail/index?id=-messageId-';

var scSpaceListUrl = '/space/list?ajax=1';
</script>
        
        <!-- start: render additional head (css and js files) -->
        <link href="css/theme.css" rel="stylesheet">
        <link href="css/open-sans.css" rel="stylesheet">
       
        <!-- end: render additional head -->


        <!-- start: Favicon and Touch Icons -->
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        
        <!-- end: Favicon and Touch Icons -->
        
      
    </head>

    <body ng-app="application" ng-controller="home as home">
 <!-- start: first top navigation bar -->
     <div id="topbar-first" class="topbar">
        <div class="container">
            <div class="topbar-brand hidden-xs">
                <a class="navbar-brand"  href="#" id="text-logo">
                   JobNetwork    
                </a>
            </div>
   <div class="topbar-actions pull-right">
     <ul class="nav">
        <li class="dropdown account">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <div class="user-title pull-left hidden-xs">
                    <strong>{{home.user.nom}} {{home.user.prenom}}</strong><br><span class="truncate">{{home.user.role}}</span>
                </div>
                <img id="user-account-image" class="img-rounded" src="image/1.jpg" height="32" width="32" alt="32x32" data-src="holder.js/32x32" style="width: 32px; height: 32px;">
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu pull-right">
               <li><a href="#profilC"><i class="fa fa-user"></i> Mon profil</a> </li>
               <li><a href="cand.html#/CompleterProfil"><i class="fa fa-cog"></i> Paramètres du compte </a></li>
               <li class="divider"></li>
               <li><a href="/404.html"> <i class="fa fa-lock"></i> Securité du compte</a></li>
               <li><a href="/404.html"><i class="fa fa-unsorted"></i>Statistiques</a></li>
               <li class="divider"></li>
               <li> <a href="/logout" method="POST"><i class="fa fa-sign-out"></i> Se déconnecter</a></li>
            </ul>
        </li>
    </ul>
   </div>
   <div class="notifications pull-right">
			   <div class="btn-group">
			                 <a href="#" id="icon-notifications" data-toggle="dropdown">
			                     <i class="fa fa-bell"></i>
			                  </a>
			              <span id="badge-notifications" style="display:none;" class="label label-danger label-notifications">1</span>
			
			    <!-- container for ajax response -->
			    <ul id="dropdown-notifications" class="dropdown-menu">
			        <li class="dropdown-header">
			            <div class="arrow"></div>Notifications            
			            <div class="dropdown-header-link">
			              <a id="mark-seen-link" href="javascript:markNotificationsAsSeen();" style="display: none;">Tout marquer comme lu</a>
			            </div>
			        </li>
			        <ul class="media-list" tabindex="0" style="overflow: hidden; outline: none;">
			          <li id="loader_notifications">
			            <div id="" class="loader ">
			               <div class="sk-spinner sk-spinner-three-bounce">
			                  <div class="sk-bounce1"></div>
			                  <div class="sk-bounce2"></div>
			                  <div class="sk-bounce3"></div>
			               </div>
			           </div>        
			          </li>
			        </ul>
			    <div id="ascrail2000" class="nicescroll-rails nicescroll-rails-vr" style="padding-right: 3px; width: 7px; z-index: 1000; cursor: default; position: absolute; top: 0px; left: -10px; height: 0px; display: none;">
			         <div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 7px; height: 0px; border-radius: 5px; background-color: rgb(85, 85, 85); background-clip: padding-box;">
			         </div>
			    </div>
			    <div id="ascrail2000-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 7px; z-index: 1000; top: -7px; left: 0px; position: absolute; cursor: default; display: none;">
			         <div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 7px; width: 0px; border-radius: 5px; background-color: rgb(85, 85, 85); background-clip: padding-box;">
			         </div>
			    </div>
			  </ul>
			</div>
			   
			   <script type="text/javascript">
				    $(document).ready(function () {
				        $('#notifyUserInput').userpicker({
				            inputId: '#notifyUserInput',
				            maxUsers: '10',
				            searchUrl: '/s/60076487-29b4-49d1-9896-ba2269d5cc20/space/membership/search?keyword=-keywordPlaceholder-',
				            currentValue: '',
				            focus: '1',
				            userGuid: '7417e6d0-8b7f-4e21-8a96-363eb5b1ad37',
				            data: null,
				            placeholderText: 'Indiquez le nom du membre à avertir'
				        });
				    });
            </script>
			<script type="text/javascript">
			    // set niceScroll to notification list
			    $("#dropdown-notifications ul.media-list").niceScroll({
			        cursorwidth: "7",
			        cursorborder: "",
			        cursorcolor: "#555",
			        cursoropacitymax: "0.2",
			        railpadding: {top: 0, right: 3, left: 0, bottom: 0}
			    });
			    function markNotificationsAsSeen() {
			        // call ajax request to mark all notifications as seen
			        jQuery.ajax({
			            'type': 'GET',
			            'url': '/notification/list/mark-as-seen?ajax=1',
			            'cache': false,
			            'data': jQuery(this).parents("form").serialize(),
			            'success': function (html) {
			                // hide notification badge at the top menu
			                $('#badge-notifications').css('display', 'none');
			                $('#mark-seen-link').css('display', 'none');
			                // remove notification count from page title
			                var pageTitle = $('title').text().replace(/\(.+?\)/g, '');
			                $('title').text(pageTitle);
			            }});
			    }
			    var originalTitle;
			    $(document).ready(function () {
			        originalTitle = document.title;
			        // set the ID for the last loaded activity entry to 1
			        var notificationLastLoadedEntryId = 0;
			        // save if the last entries are already loaded
			        var notificationLastEntryReached = false;
			        // safe action url
			        var _notificationUrl = '/notification/list/index?from=lastEntryId&ajax=1';
			        // Open the notification menu
			        $('#icon-notifications').click(function () {
			            // reset variables by dropdown reopening
			            notificationLastLoadedEntryId = 0;
			            notificationLastEntryReached = false;
			
			            // remove all notification entries from dropdown
			            $('#dropdown-notifications ul.media-list').find('li').remove();
			
			            // checking if ajax loading is necessary or the last entries are already loaded
			            if (notificationLastEntryReached == false) {
			                // load notifications
			                loadNotificationEntries();
			            }
			        })
			        $('#dropdown-notifications ul.media-list').scroll(function () {
			            // save height of the overflow container
			            var _containerHeight = $("#dropdown-notifications ul.media-list").height();
			            // save scroll height
			            var _scrollHeight = $("#dropdown-notifications ul.media-list").prop("scrollHeight");
			            // save current scrollbar position
			            var _currentScrollPosition = $('#dropdown-notifications ul.media-list').scrollTop();
			            // load more activites if current scroll position is near scroll height
			            if (_currentScrollPosition >= (_scrollHeight - _containerHeight - 1)) {
			                // checking if ajax loading is necessary or the last entries are already loaded
			                if (notificationLastEntryReached == false) {
			                    // load more notifications
			                    loadNotificationEntries();
			                }
			            }
			        });
			
			        var notification_placeholder = "Il n'y a aucune notification."
			        function loadNotificationEntries() {
			            // replace placeholder name with the id from the last loaded entry
			            var _modifiedNotificationUrl = _notificationUrl.replace('lastEntryId', notificationLastLoadedEntryId)
			            // show loader
			            $("#loader_notifications .loader").show();
			            // send ajax request
			            jQuery.getJSON(_modifiedNotificationUrl, function (json) {
			                // hide loader
			                $("#loader_notifications .loader").hide();
			                if (json.counter == 0) {
			                    $("#dropdown-notifications ul.media-list").append('<li class="placeholder">' + notification_placeholder + '</li>');
			                    notificationLastEntryReached = true;
			                } else {
			                    // save id from the last entry for the next loading
			                    notificationLastLoadedEntryId = json.lastEntryId;
			                    if (json.counter < 6) {
			                        // prevent the next ajax calls, if there are no more entries
			                        notificationLastEntryReached = true;
			                    }
			                    // add new entries
			                    $("#dropdown-notifications ul.media-list").append(json.output);
			                    // format time
			                    $('span.time').timeago();
			                }
			            });
			        }
			        /**
			         * Regulary fetch new notifications
			         */
			        reloadNotificationInterval = 15000;
			        setInterval(function () {
			            jQuery.getJSON("/notification/list/get-update-json", function (json) {
			                handleJsonUpdate(json);
			            });
			         }, reloadNotificationInterval);
			        handleJsonUpdate({"newNotifications":"0","notifications":[]});
			    });
			    /**
			     * Handles JSON Update
			     * 
			     * @param String json
			     */
			    function handleJsonUpdate(json) {
			        $newNotifications = parseInt(json.newNotifications);
			        // show or hide the badge for new notifications
			        if ($newNotifications == 0) {
			            document.title = originalTitle;
			            $('#badge-notifications').css('display', 'none');
			            $('#mark-seen-link').css('display', 'none');
			            $('#icon-notifications .fa').removeClass("animated swing");
			        } else {
			            document.title = '(' + $newNotifications + ') ' + originalTitle;
			            $('#badge-notifications').empty();
			            $('#badge-notifications').append($newNotifications);
			            $('#mark-seen-link').css('display', 'inline');
			            $('#badge-notifications').fadeIn('fast');
			            $('#icon-notifications .fa').addClass("animated swing");
			
			            var $notifications = json.notifications;
			            for (var i = 0; i < $notifications.length; i++) {
			                notify.createNotification("Notification", {body: $("<span />", {html: $notifications[i]}).text(), icon: "ico/alert.ico"})
			            }
			        }
			    }
			</script>
			  <div class="btn-group">
			    <a href="#" id="icon-messages" class="dropdown-toggle" data-toggle="dropdown">
			           <i class="fa fa-comments"></i></a>
			            <span id="badge-messages" style="display:none;" class="label label-danger label-notification">1</span>
			           <ul id="dropdown-messages" class="dropdown-menu">
			                    <li class="dropdown-header">
			                       <div class="arrow"></div>Messages 
			                       <a id="create-message-button" class="btn btn-info btn-xs" href="/mail/mail/create?ajax=1" data-target="#globalModal">Nouveau message</a></li> 
			                       <ul class="media-list">
			                           <li id="loader_messages"><div class="loader"></div></li>
			                      </ul>
			                    <li>
				                   <div class="dropdown-footer">
				                        <a class="btn btn-default col-md-12" href="/mail/mail/index">Montrer tous les messages</a>
				                   </div>
				                </li>
				        </ul>
			</div>
			
			<script type="text/javascript">
			    /**
			     * Refresh New Mail Message Count (Badge)
			     */
			    reloadMessageCountInterval = 60000;
			    setInterval(function () {
			        jQuery.getJSON("/mail/mail/get-new-message-count-json", function (json) {
			            setMailMessageCount(parseInt(json.newMessages));
			        });
			    }, reloadMessageCountInterval);
			    setMailMessageCount(0);
			    /**
			     * Sets current message count
			     */
			    function setMailMessageCount(count) {
			        // show or hide the badge for new messages
			        if (count == 0) {
			            $('#badge-messages').css('display', 'none');
			        } else {
			            $('#badge-messages').empty();
			            $('#badge-messages').append(count);
			            $('#badge-messages').fadeIn('fast');
			        }
			    }
			    // open the messages menu
			    $('#icon-messages').click(function () {
			        // remove all <li> entries from dropdown
			        $('#dropdown-messages').find('li').remove();
			        $('#dropdown-messages').find('ul').remove();
			        // append title and loader to dropdown
			        $('#dropdown-messages').append('<li class="dropdown-header"><div class="arrow"></div>Messages <a id="create-message-button" class="btn btn-info btn-xs" href="/mail/mail/create?ajax=1" data-target="#globalModal">Nouveau message</a></li> <ul class="media-list"><li id="loader_messages"><div class="loader"></div></li></ul><li><div class="dropdown-footer"><a class="btn btn-default col-md-12" href="/mail/mail/index">Montrer tous les messages</a></div></li>');
			        $.ajax({
			            'type': 'GET',
			            'url': '/mail/mail/notification-list',
			            'cache': false,
			            'data': jQuery(this).parents("form").serialize(),
			            'success': function (html) {
			                jQuery("#loader_messages").replaceWith(html)
			        }});
			    })
			</script>
			   
			<div class="btn-group">
			                 <a href="#" id="icon-notifications" data-toggle="dropdown">
			                     <i class="fa fa-users"></i>
			                  </a>
			              <span id="badge-notifications" style="display:none;" class="label label-danger label-notifications">1</span>
			
			    <!-- container for ajax response -->
			    <ul id="dropdown-notifications" class="dropdown-menu">
			        <li class="dropdown-header">
			            <div class="arrow"></div>Relations            
			            <div class="dropdown-header-link">
			              <a id="mark-seen-link" href="javascript:markNotificationsAsSeen();" style="display: none;">Tout marquer comme lu</a>
			            </div>
			        </li>
			        <ul class="media-list" tabindex="0" style="overflow: hidden; outline: none;">
			          <li id="loader_notifications">
			            <div id="" class="loader ">
			               <div class="sk-spinner sk-spinner-three-bounce">
			                  <div class="sk-bounce1"></div>
			                  <div class="sk-bounce2"></div>
			                   <div class="sk-bounce3"></div>
			               </div>
			           </div>        
			        </li></ul>
			    <div id="ascrail2000" class="nicescroll-rails nicescroll-rails-vr" style="padding-right: 3px; width: 7px; z-index: 1000; cursor: default; position: absolute; top: 0px; left: -10px; height: 0px; display: none;"><div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 7px; height: 0px; border-radius: 5px; background-color: rgb(85, 85, 85); background-clip: padding-box;">
			    </div></div>
			    <div id="ascrail2000-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 7px; z-index: 1000; top: -7px; left: 0px; position: absolute; cursor: default; display: none;"><div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 7px; width: 0px; border-radius: 5px; background-color: rgb(85, 85, 85); background-clip: padding-box;">
			    </div></div></ul>
			</div>
  <div class="modal" id="confirmModal_modal_profileimagedelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-extra-small animated pulse">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel"><strong>Confirmer</strong> la suppression de l'image</h4>
            </div>
            <div class="modal-body text-center">
                Souhaitez-vous vraiment supprimer l'image de votre profil ?            </div>
            <div class="modal-footer">
                
                    <button id="h412452w1" class="btn btn-primary" return="true" data-dismiss="modal">Supprimer</button>                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>
                                    </div>
        </div>
    </div>
</div>
  </div>
</div>

    </div>
    <!-- end: first top navigation bar -->


    <!-- start: second top navigation bar -->
    <div id="topbar-second" class="topbar">
        <div class="container">
            <ul class="nav ">
                <!-- load space chooser widget -->
                
<li class="dropdown">
    <a href="#" id="space-menu" class="dropdown-toggle" data-toggle="dropdown">
        <!-- start: Show space image and name if chosen -->
                    <div class="current-space-image space-profile-acronym-1 space-acronym" style=" background-color: #6fdbe8; width: 32px; height: 32px; font-size: 14.08px; padding: 5.76px 0; border-radius: 2px;"><i class="fa fa-search"></i></div>
                    <img class="current-space-image space-profile-image-1 img-rounded profile-user-photo hidden" src="./HumHub_profil_files/default_space.jpg" alt="Welcome Space" style=" width: 32px; height: 32px">        
        <!-- end: Show space image and name if chosen -->
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu" id="space-menu-dropdown">
        <li>
            <form action="#" class="dropdown-controls"  ng-controller="gestioninvitation">
            <textarea type="text" id="space-menu-search" class="form-control" ng-model="selectedstate"  
                  typeahead-min-length="0" typeahead="state  for state in  states| filter:$viewValue" 
                      placeholder="Select person" typeahead-template-url="customTemplate.html" rows="1"></textarea>
		       
                <div class="search-reset" id="space-search-reset"><i class="fa fa-times-circle"></i></div>
            </form>
             <script type="text/ng-template" id="customTemplate.html">
               
                 <div>
                 <ul class="">
                  <li class="">  
                   <div ng-if="match.model.role=='Candidat'">                     
                    <a  href="#/u/{{match.model.username}}">                       
                        <img ng-src="{{match.model.photo}}"  height="32" width="32"/>
                                 {{match.model.typeUser}}
                        <strong>{{match.model.nom}} {{match.model.prenom}} </strong> 
                        <small>({{match.model.titreCv}})</small>
                     </a>
                      </div>
                      <div ng-if="match.model.role=='Recruteur'">
                        <a  href="#/u/{{match.model.username}}">   
                        <img ng-src="{{match.model.photoEntrprise}}" height="32" width="32" />
                        <small>{{match.model.nom_entreprise}}</small>
                     
                    </a>
                  </li>
                 </ul>
                  </div>
 
                 
           </script>
        </li>
        
     </ul>
</li>

   
 

<!-- load navigation from widget -->
    <li class="visible-md visible-lg  dashboard">
         <a class=" dashboard" href="/cand.html"><i class="fa fa-home"></i><br>Acceuil</a></li>
    <li class="visible-md visible-lg  dashboard">
         <a class=" dashboard" href="final.html#/publicationUser"><i class="fa fa-tachometer"></i><br>Fil d'actualité</a></li>
    <li class="visible-md visible-lg">
         <a class=" dashboard" href="#profilC"><i class="fa fa-user"></i><br>Mon profil</a></li>
    <li class="visible-md visible-lg">
         <a class=" dashboard" href="final.html#/myPub"><i class="fa fa-photo"></i><br>Publications</a></li>
    <li class="visible-md visible-lg ">
         <a class="" href="final.html#/annonce"><i class="fa fa-envelope"></i><br>Annonces</a></li>
    <li class="visible-md visible-lg  directory">
        <a class=" directory" href="/404.html"><i class="fa fa-book"></i><br>Annuaire d'entreprise</a></li>

<li class="dropdown visible-xs visible-sm">
    <a href="#" id="top-dropdown-menu" class="dropdown-toggle" data-toggle="dropdown">
        Menu  <br><i class="fa fa-align-justify"></i>
         <b class="caret"></b></a>
    <ul class="dropdown-menu ">
       <li class="">
         <a class=" dashboard" href="/cand.html"><i class="fa fa-home"></i>Acceuil</a></li>
    <li class="visible-md visible-lg  dashboard">
         <a class=" dashboard" href="/final.html"><i class="fa fa-tachometer"></i>Fil d'actualité</a></li>
    <li class="">
         <a class=" dashboard" href="#profilC"><i class="fa fa-user"></i>Mon profil</a></li>
    <li class="">
         <a class=" dashboard" href="/final.html"><i class="fa fa-photo"></i>Publications</a></li>
    <li class=" ">
         <a class="" href="final.html#/annonce"><i class="fa fa-envelope"></i>Annonces</a></li>
    <li class="">
        <a class=" directory" href="/404.html"><i class="fa fa-book"></i>Annuaire d'entreprise</a></li>
    </ul>
</li> 
 </ul>
 
 <ul class="nav pull-right" id="search-menu-nav">              
<li class="dropdown">
    <a href="#" id="search-menu" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-search"></i></a>
    <ul class="dropdown-menu pull-right" id="search-menu-dropdown">
        <li>
            <form action="" class="dropdown-controls">
                <input type="text" id="search-menu-search"
                       class="form-control"
                       autocomplete="off"
                       placeholder="Rechercher des utilisateurs ou des espaces">

                <div class="search-reset" id="search-search-reset">
                <i class="fa fa-times-circle"></i></div>
            </form>
        </li>
    </ul>
   </li>           
  </ul>
</div>
</div>
    <!-- end: second top navigation bar -->

    
    
    <!-- start: show content (and check, if exists a sublayout -->
 <div class="container">
     <div class="row">
        <div class="col-md-2">         
			<!-- start: list-group navi for large devices -->
			<div class="panel panel-default">
			             <div class="panel-heading">Réglages de <strong>votre compte</strong></div>
			             <div class="list-group">
			                <a class=" active list-group-item" href="#CompleterProfil"><i class="fa fa-user"></i><span>Profil</span></a>  
			                <a class=" list-group-item" href="#cvLettre"><i class="fa fa-file"></i><span>CV et Lettre de motivation</span></a>                                          			                                                         
			                <a class=" list-group-item" href="#alerteAnnonce"><i class="fa fa-wrench"></i><span>Configurer alerte d'annonce</span></a>                                           			               
			                <a class=" list-group-item" href="#activerAlerte"><i class="fa fa-bell"></i><span>Alerte</span></a>                                          
			                <a class=" list-group-item" href="#changerEmail"><i class="fa fa-paper-plane"></i><span>e-mail</span></a>                                         
			                <a class=" list-group-item" href="#changerPassword"><i class="fa fa-key"></i><span>Mot de passe</span></a>                                            
			                <a class=" list-group-item" href="#desactiverCompte"><i class="fa fa-trash-o"></i><span>Désactiver le compte</span></a>                   
			             </div>            
			</div>
			<!-- end: list-group navi for large devices -->
        </div>
        
     <div class="col-md-10" ng-view>
             
		</div>
	</div>
        <!-- end: show content -->
</div>
    <!-- start: Modal (every lightbox will/should use this construct to show content)-->
    <div class="modal" id="globalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="" class="loader ">
    <div class="sk-spinner sk-spinner-three-bounce">
        <div class="sk-bounce1"></div>
        <div class="sk-bounce2"></div>
        <div class="sk-bounce3"></div>
    </div>
</div>                </div>
            </div>
        </div>
    </div>
    <!-- end: Modal -->



<script type="text/javascript"  src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript"  src="angular/angular.min.js"></script>
<script type="text/javascript"  src="js/angular-route.js"></script>
<script type="text/javascript"  src="js/recrutement.js"></script>
<script type="text/javascript"  src="js/app.js"></script>


<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
      
</body>
</html>