<!DOCTYPE html>
<html lang="fr">
   <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- start: Meta -->
        <title>S'inscrire</title>
        <!-- end: Meta -->

        <!-- start: Mobile Specific -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- end: Mobile Specific -->
        
        <meta name="csrf-param" content="_csrf">
        <meta name="csrf-token" content="aVJ2YTBhckUjPBU.X1lALidlOjZ5VhxxDzUiIlMNHSRbMyYkbwkZAA==">
        <link  rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
        <link  rel="stylesheet" type="text/css" href="css/style.css"/>
       		       
        <!-- start: render additional head (css and js files) -->
        <link href="css/theme.css" rel="stylesheet">
        <!-- end: render additional head -->
   </head>
 
  <body ng-app="Inscription"  ng-controller="gererinscription" >
  <div class="container" style="text-align: center;">
     <h1 id="app-title" class="animated fadeIn">JobNetwork</h1>
     <br>
    <div class="panel panel-default bounceIn" id="login-form" style="max-width: 600px; margin: 0 auto 20px; text-align: left;">

        <div class="panel-heading"><strong>S'inscrire</strong><hr></div>
        <div class="panel-body"> 
                              
             <form class="form-horizontal" name="registerForm" ng-submit="inscritUser()"  >
    
          <div class="form-group " >
            <label class=" col-sm-3 control-label" for="Sexe">Civilité:</label>
            <div class="col-sm-6">
              <input id="Sexe" type="radio"  ng-model="user.genre"   value="Monsieur" required name="Sexe" />Monsieur
              <input id="Sexe" type="radio"  ng-model="user.genre"  value="Madame"  required name="Sexe"/>Madame
             
            </div>
         </div>
         
         <div class="form-group" >
            <label class="col-sm-3 control-label" for="Nom">Nom</label>
            <div class="col-sm-6">
                <input id="Nom" type="text" class="form-control" required ng-minlength="4" ng-maxlength="12" name="Nom" ng-model="user.nom" />
<!--                 <div ng-messages="registerForm.Nom.$error" ng-messages-include="static/Errors.html" ></div> -->
        <p ng-show="registerForm.Nom.$error.required && registerForm.Nom.$touched" class="help-block">Veuillez indiquer votre nom</p>
       <p ng-show="registerForm.Nom.$invalid && registerForm.Nom.$touched" class="help-block">Le nom est incorrecte</p>
            </div>
        </div>
        
        <div class="form-group" >
            <label class="col-sm-3 control-label" for="Prenom">Prénom</label>
            <div class="col-sm-6">
                <input id="Prenom" type="text" class="form-control" required ng-minlength="4" ng-maxlength="12" name="Prenom" ng-model="user.prenom" />
               <p ng-show="registerForm.Prenom.$error.required && registerForm.Prenom.$touched" class="help-block">Veuillez indiquer votre prénom</p>
       <p ng-show="registerForm.Prenom.$invalid && registerForm.Prenom.$touched" class="help-block">Le prénom est incorrecte</p>
            </div>
        </div>
        
        <div class="form-group" >
            <label class="col-sm-3 control-label" for="Username">Login</label>
            <div class="col-sm-6">
                <input id="Login" type="text" class="form-control" required ng-minlength="6" ng-maxlength="12" name="Login" ng-model="user.username"                
                 data-toggle="popover" data-trigger="hover" data-placement="right" data-content="My popover content." title="Popover title"/>
            </div>
            <p ng-show="registerForm.Login.$error.required && registerForm.Login.$touched" class="help-block">Veuillez indiquer votre Login</p>
       <p ng-show="registerForm.Login.$invalid && registerForm.Login.$touched" class="help-block">Le login est incorrecte</p>
        </div>
        
        
        <div class="form-group" >
            <label class="col-sm-3 control-label" for="Email">Email</label>
            <div class="col-sm-6">
                <input id="Email" type="email" class="form-control" required email name="Email" ng-model="user.email" />
                 <p ng-show="registerForm.Email.$error.required && registerForm.Email.$touched" class="help-block">Veuillez indiquer votre email</p>
          <p ng-show="registerForm.Email.$error.email">votre email est invalide</p>
            </div>
             
        </div>
       
        <div class="form-group" >
            <label class="col-sm-3 control-label" for="Password">Password</label>
            <div class="col-sm-6">
                <input id="Password" type="password" class="form-control" required  name="Password" ng-model="user.password" />
              <p ng-show="registerForm.Password.$error.required && registerForm.Password.$touched" class="help-block">Veuillez saisir le mot de pass</p>
              <p ng-show="registerForm.Password.$error.password" >le password est invalide</p>
           
        </div>
        </div>
        <div class="form-group" >
            <label class="col-sm-3 control-label" for="ConfirmPassword">Confirm Password</label>
            <div class="col-sm-6">
                <input id="ConfirmPassword" type="password" class="form-control" required password name="ConfirmPassword" ng-model="ConfirmPassword" />
             <p ng-show="registerForm.$submitted && registerForm.ConfirmPassword.$untouched" class="help-block">Veuillez confirmez le mot de passe</p>
              <p ng-show="registerForm.ConfirmPassword!=registerForm.Password && registerForm.ConfirmPassword.$touched" class="help-block">C'est pas le même mot de passe</p>
             </div>
        </div> 
        
        
        <div class="form-group " >
            <label class=" col-sm-3 control-label" for="TypeUser">Type Membre:</label>
            <div class="col-sm-6">
              <input id="TypeUser" type="radio"  ng-model="user.typeUser"   value="Candidat" required name="TypeUser" />Candidat
              <input id="TypeUser" type="radio"  ng-model="user.typeUser"  value="Recruteur"  required name="TypeUser"/>Recruteur
             
            </div>
            
         </div>
        
          <div class="form-group"  >
            <div  ng-if="user.typeUser=='Candidat'">
                <input type="hidden" ng-model="user.role='Candidat'" name="typec">
            </div>
            <div  ng-if="user.typeUser=='Recruteur'">
                <input type="hidden" ng-model="user.role='Recruteur'" name="typer" >
            </div>
             <p ng-show="registerForm.$submitted && registerForm.typec.$error.untouched || registerForm.typer.$error.untouched " class="help-block">Veuillez indiquer le type d'abonnement</p>
        </div>  
         
         
         
        <div class="form-group"  >
           
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-info" >
                Inscription</button>
                <input type="reset" class="btn btn-default">
            </div>
        </div>
        </form> 
<!--        <div ng-if="exception.message"> -->
<!--          <hr> -->
<!--          <span class="error">{{exception.message}}</span> -->
<!--      </div> -->
    </div>
    <div class="panel-footer newCompte">        
			    <div class="btn-group">
			       <a href="Accueil.html" id="icon-notifications" >
			          <i class="glyphicon glyphicon-home"></i>
			             Retourner a l'acceuil
		           </a></div>  
   </div>
 </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 
<script type="text/javascript" src="angular/angular.min.js"></script>
<script type="text/javascript"  src="js/inscrit.js"></script>

</body>

</html>
